$form-background-color: #6ed3cf;
$purple-color: #9068be;
$light-grey-color: #e1e8f0;
$red-color: #e62739;

body {
    font-family: 'Muli', sans-serif;
    background-color: $light-grey-color;

    button:focus {
      outline:0 !important;
    }

    :active {
       outline:none !important;
    }

    button:focus {
      box-shadow:none;
    }

    .registerBut {
      width: 40%;
      margin: auto;
      background-color: $purple-color;
      padding: 1.5em;
      color: white;
    }

    .reg_or_log {
      background-color: $purple-color;
      padding: 20px 0 0 0;
      border: none;
      outline: none;
    }

    img.logo {
      margin-top: 30px;
      margin-bottom: 10px;
      width: 200px;
      height: 200px;
    }

    img.img_place {
      width: 120px;
      height: 120px;
      margin-right: 20px;
    }

    .middle_all {
      font-family: 'Muli', sans-serif;
      width: 100%;
      margin: auto;
    }

    .middle_logo {
      width: 200px;
      margin: auto;
    }

    .middle_form {
      width: 40%;
      margin: auto;
      background-color: $form-background-color;
      padding: 1.5em;
      color: white;

      input:focus, textarea {
        border-color: $purple-color;
        outline: none;
      }
    }

    .bold_font {
      font-weight: 900;
      text-align: center;
      display: block;
      font-size: 1.5em;
    }

    .button_char {
      background-color: $purple-color;
      font-weight: 900;
      outline: none;
      font-size: 1.5em;
      transition: all 0.5s ease;
      border: none;
    }

    .button_char:hover {
      background-color: $red-color;
    }

    .button_char:focus {
      outline: none;
      border: none;
     }

     .button_char:active {
        outline: none;
        border: none;
       }

    .slogan {
      font-family: 'Dancing Script', cursive;
      color: $purple-color;
      font-size: 1.8em;
      width: 200px;
      margin: 0 auto 10px auto;
      text-align: center;
    }

    .register {
      color: white;
      background-color: $form-background-color;
      border: none;
      outline: none;
      box-shadow: none;
      font-weight: 900;
      font-size: 1.5em;
      transition: all 0.5s ease;
    }

    .register:hover {
      background-color: $red-color;
    }

    .register:active {
      border: none;
      outline: none;
    }

    .register:focus {
      outline: none;
      border: none;
     }

    .register_help {
      width: 100%;
      background-color: $light-grey-color;
      color: $purple-color;
      margin-bottom: 20px;
      font-weight: 900;
      transition: all 0.5s ease;
    }

    .register_help:hover {
      background-color: $red-color;
      color: white;
    }

    .cancel {
      background-color: #6c757d;
      color: white;
      border: none;
      outline: none;
      box-shadow: none;
      font-weight: 900;
      font-size: 1.5em;
      transition: all 0.5s ease;
    }

    .cancel:hover {
      background-color: $red-color;
    }

    .cancel:focus {
      outline: none;
      border: none;
      box-shadow: none;
     }

     .cancel:active {
        outline: none;
        border: none;
        box-shadow: none;
       }

    .pop_windows {
      font-family: 'Muli', sans-serif;
      width: 40%;
    }

    @media (min-width: 576px) {
      .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
        border: none;
      }
    }

    .modal-header {
      background-color: $purple-color;
      color: white;
    }

    .modal-title {
      font-weight: 900;
    }

    .modal-content {
      border: none;
    }

    .btn-secondary {
      border: none;
    }

    .custom-control-input:checked~.custom-control-label::before {
      color: #fff;
      border-color: $form-background-color;
      background-color: $form-background-color;
      outline: none;
   }

   .custom-control-label:focus {
    outline: none;
    border: none;
   }

   .custom-control-input:focus {
    outline: none;
    border: none;
   }

   .close:active {
    outline: none;
    border: none;
   }

   .close:focus {
    outline: none;
    border: none;
   }

   .topsearch {
    background-color: $form-background-color;
    padding: 10px;
    width: 100%;
   }

   button.topsearch {
    outline: none;
    border: none;
   }

   button.topsearch:focus {
    outline: none;
    border: none;
   }

   button.topsearch:active {
    outline: none;
    border: none;
   }

   .places {
    width: 100%;
    padding: 20px;
   }

   .places:hover {
    background-color: $light-grey-color;
   }

   .hover_place {
      background-color: $light-grey-color;
   }

   .hover_but {
    background-color: $purple-color;
   }

   .map_places {
    width: 100%;
    display: flex;
   }

   .price {
    font-size: 2em;
    font-weight: 900;
    color: $purple-color;
   }

   .google_map {
      height: 100vh;
      width: 50%;
      float: left;
   }

   .right {
      float: right;
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100vh;
   }

   .scrollable {
    overflow-y: auto;
    flex: 1;
   }

   .wrapper img {
      width: 60px;
      height: 60px;
   }

   .wrapper {
    display: flex;
    justify-content: space-between;
   }

   .place_number {
    font-weight: 900;
    color: $form-background-color;
    font-size: 1.5em;
   }

}